.PortfolioPage {
    text-align: top;
}

.PortfolioHeader {
  background-color: rgb(249, 249, 249);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.PageTitle {
  align-items: center;
  text-align: center;
  width: 70%;
  height: 70%;
  border-radius: 10px;
}

.PageTitle h1 {
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
  font-size: 75px;
}

.ListPhotos {
  padding-left: 10px;
  padding-right: 10px;
}

.ListPhotos hr {
  /* background-color: black; */
  border-top: 5px dotted black;
  width: 85%;
  /* height: 0px; */
  /* margin: auto; */
}